.layout{
    padding: 25px;
    width: 100%;
    height: 100%;
}

.gradient-orange{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/Logo-valcro.png);
    background-size: 30%;
    &::after{
        opacity: 0.8;
        background: linear-gradient(to right, #ff5722, #ff5722, #ff5722, #ff5722, #ff5722);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}

.gradient-Pescaderia{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/pescado1.jpeg);
    &::after{
        opacity: 0.8;
        background: linear-gradient(to right, #2196f3, #2196f3, #2196f3, #2196f3, #2196f3);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}

.gradient-Carniceria{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/carnage2.jpeg);
    &::after{
        opacity: 0.6;
        background: linear-gradient(to right, #f44336, #f44336, #f44336, #f44336, #f44336);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}

.etiqueta{
    margin: auto;
    position: relative;
    z-index: 5;
}
