.gradient-1{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/pescado1.jpeg);
    &::after{
        opacity: 0.3;
        background: linear-gradient(to right, #663397, #663397, #663397, #663397, #663397);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}

.gradient-2{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/carnage2.jpeg);
    &::after{
        opacity: 0.3;
        background: linear-gradient(to right, #663397, #663397, #663397, #663397, #663397);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}

.gradient-3{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/mod.jpeg);
    &::after{
        opacity: 0.3;
        background: linear-gradient(to right, #663397, #663397, #663397, #663397, #663397);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}

.gradient-4{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/cosmetics.jpeg);
    &::after{
        opacity: 0.3;
        background: linear-gradient(to right, #663397, #663397, #663397, #663397, #663397);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}

.etiqueta{
    margin: auto;
    position: relative;
    z-index: 5;
}