.layout{
    padding: 25px;
    width: 100%;
    height: 100%;
}


.gradient-orange{
    position: relative;
    background-repeat: no-repeat;
    &::after{
        opacity: 0.8;
        background: linear-gradient(to right, #ff5722, #ff5722, #ff5722, #ff5722, #ff5722);
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 100%;
        content: '';
    }
}



.etiqueta{
    margin: auto;
    position: relative;
    z-index: 5;
}