/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar { 
    display: none; 
}


@font-face{
    font-family:'digital-clock-font';
    src: url('./assets/fonts/digital-7.ttf');
}

@font-face{
    font-family:'digital-clock-font-mono';
    src: url('./assets/fonts/digital-7-mono.ttf');
}