.header-icon {
    font-size: 19px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    margin: 0 2px;
    &:hover {
        background: $gray-100;
    }
    &.dropdown-toggle {
        &:after { display: none; }
    }
}